.flag-img{
	width: 48px;
	height:48px;
	background: url(../img/countries.png) no-repeat top left;	
}

.flag-_ASEAN{ background-position: 0 0; width: 48px; height: 48px; } 
.flag-_AfricanUnionOAS{ background-position: 0 -98px; width: 48px; height: 48px; } 
.flag-_ArabLeague{ background-position: 0 -196px; width: 48px; height: 48px; } 
.flag-_CARICOM{ background-position: 0 -294px; width: 48px; height: 48px; } 
.flag-_CIS{ background-position: 0 -392px; width: 48px; height: 48px; } 
.flag-_Commonwealth{ background-position: 0 -490px; width: 48px; height: 48px; } 
.flag-_England{ background-position: 0 -588px; width: 48px; height: 48px; } 
.flag-ep{ background-position: 0 -686px; width: 48px; height: 48px; } 
.flag-_IslamicConference{ background-position: 0 -784px; width: 48px; height: 48px; } 
.flag-_Kosovo{ background-position: 0 -882px; width: 48px; height: 48px; } 
.flag-_NATO{ background-position: 0 -980px; width: 48px; height: 48px; } 
.flag-_NorthernCyprus{ background-position: 0 -1078px; width: 48px; height: 48px; } 
.flag-_NorthernIreland{ background-position: 0 -1176px; width: 48px; height: 48px; } 
.flag-_OPEC{ background-position: 0 -1274px; width: 48px; height: 48px; } 
.flag-_OlimpicMovement{ background-position: 0 -1372px; width: 48px; height: 48px; } 
.flag-_RedCross{ background-position: 0 -1470px; width: 48px; height: 48px; } 
.flag-_Scotland{ background-position: 0 -1568px; width: 48px; height: 48px; } 
.flag-_Somaliland{ background-position: 0 -1666px; width: 48px; height: 48px; } 
.flag-_UnitedNations{ background-position: 0 -1764px; width: 48px; height: 48px; } 
.flag-_Wales{ background-position: 0 -1862px; width: 48px; height: 48px; } 
.flag-ad{ background-position: -98px 0; width: 48px; height: 48px; } 
.flag-ae{ background-position: -98px -98px; width: 48px; height: 48px; } 
.flag-af{ background-position: -98px -196px; width: 48px; height: 48px; } 
.flag-ag{ background-position: -98px -294px; width: 48px; height: 48px; } 
.flag-ai{ background-position: -98px -392px; width: 48px; height: 48px; } 
.flag-al{ background-position: -98px -490px; width: 48px; height: 48px; } 
.flag-am{ background-position: -98px -588px; width: 48px; height: 48px; } 
.flag-an{ background-position: -98px -686px; width: 48px; height: 48px; } 
.flag-ao{ background-position: -98px -784px; width: 48px; height: 48px; } 
.flag-aq{ background-position: -98px -882px; width: 48px; height: 48px; } 
.flag-ar{ background-position: -98px -980px; width: 48px; height: 48px; } 
.flag-as{ background-position: -98px -1078px; width: 48px; height: 48px; } 
.flag-at{ background-position: -98px -1176px; width: 48px; height: 48px; } 
.flag-au{ background-position: -98px -1274px; width: 48px; height: 48px; } 
.flag-aw{ background-position: -98px -1372px; width: 48px; height: 48px; } 
.flag-az{ background-position: -98px -1470px; width: 48px; height: 48px; } 
.flag-ba{ background-position: -98px -1568px; width: 48px; height: 48px; } 
.flag-bb{ background-position: -98px -1666px; width: 48px; height: 48px; } 
.flag-bd{ background-position: -98px -1764px; width: 48px; height: 48px; } 
.flag-be{ background-position: -98px -1862px; width: 48px; height: 48px; } 
.flag-bf{ background-position: -196px 0; width: 48px; height: 48px; } 
.flag-bg{ background-position: -196px -98px; width: 48px; height: 48px; } 
.flag-bh{ background-position: -196px -196px; width: 48px; height: 48px; } 
.flag-bi{ background-position: -196px -294px; width: 48px; height: 48px; } 
.flag-bj{ background-position: -196px -392px; width: 48px; height: 48px; } 
.flag-bm{ background-position: -196px -490px; width: 48px; height: 48px; } 
.flag-bn{ background-position: -196px -588px; width: 48px; height: 48px; } 
.flag-bo{ background-position: -196px -686px; width: 48px; height: 48px; } 
.flag-br{ background-position: -196px -784px; width: 48px; height: 48px; } 
.flag-bs{ background-position: -196px -882px; width: 48px; height: 48px; } 
.flag-bt{ background-position: -196px -980px; width: 48px; height: 48px; } 
.flag-bw{ background-position: -196px -1078px; width: 48px; height: 48px; } 
.flag-by{ background-position: -196px -1176px; width: 48px; height: 48px; } 
.flag-bz{ background-position: -196px -1274px; width: 48px; height: 48px; } 
.flag-ca{ background-position: -196px -1372px; width: 48px; height: 48px; } 
.flag-cd{ background-position: -196px -1470px; width: 48px; height: 48px; } 
.flag-cf{ background-position: -196px -1568px; width: 48px; height: 48px; } 
.flag-cg{ background-position: -196px -1666px; width: 48px; height: 48px; } 
.flag-ch{ background-position: -196px -1764px; width: 48px; height: 48px; } 
.flag-ci{ background-position: -196px -1862px; width: 48px; height: 48px; } 
.flag-ck{ background-position: -294px 0; width: 48px; height: 48px; } 
.flag-cl{ background-position: -294px -98px; width: 48px; height: 48px; } 
.flag-cm{ background-position: -294px -196px; width: 48px; height: 48px; } 
.flag-cn{ background-position: -294px -294px; width: 48px; height: 48px; } 
.flag-co{ background-position: -294px -392px; width: 48px; height: 48px; } 
.flag-cr{ background-position: -294px -490px; width: 48px; height: 48px; } 
.flag-cu{ background-position: -294px -588px; width: 48px; height: 48px; } 
.flag-cv{ background-position: -294px -686px; width: 48px; height: 48px; } 
.flag-cy{ background-position: -294px -784px; width: 48px; height: 48px; } 
.flag-cz{ background-position: -294px -882px; width: 48px; height: 48px; } 
.flag-de{ background-position: -294px -980px; width: 48px; height: 48px; } 
.flag-dj{ background-position: -294px -1078px; width: 48px; height: 48px; } 
.flag-dk{ background-position: -294px -1176px; width: 48px; height: 48px; } 
.flag-dm{ background-position: -294px -1274px; width: 48px; height: 48px; } 
.flag-do{ background-position: -294px -1372px; width: 48px; height: 48px; } 
.flag-dz{ background-position: -294px -1470px; width: 48px; height: 48px; } 
.flag-ec{ background-position: -294px -1568px; width: 48px; height: 48px; } 
.flag-ee{ background-position: -294px -1666px; width: 48px; height: 48px; } 
.flag-eg{ background-position: -294px -1764px; width: 48px; height: 48px; } 
.flag-eh{ background-position: -294px -1862px; width: 48px; height: 48px; } 
.flag-er{ background-position: -392px 0; width: 48px; height: 48px; } 
.flag-es{ background-position: -392px -98px; width: 48px; height: 48px; } 
.flag-et{ background-position: -392px -196px; width: 48px; height: 48px; } 
.flag-fi{ background-position: -392px -294px; width: 48px; height: 48px; } 
.flag-fj{ background-position: -392px -392px; width: 48px; height: 48px; } 
.flag-fm{ background-position: -392px -490px; width: 48px; height: 48px; } 
.flag-fo{ background-position: -392px -588px; width: 48px; height: 48px; } 
.flag-fr{ background-position: -392px -686px; width: 48px; height: 48px; } 
.flag-ga{ background-position: -392px -784px; width: 48px; height: 48px; } 
.flag-gb{ background-position: -392px -882px; width: 48px; height: 48px; } 
.flag-gd{ background-position: -392px -980px; width: 48px; height: 48px; } 
.flag-ge{ background-position: -392px -1078px; width: 48px; height: 48px; } 
.flag-gg{ background-position: -392px -1176px; width: 48px; height: 48px; } 
.flag-gh{ background-position: -392px -1274px; width: 48px; height: 48px; } 
.flag-gi{ background-position: -392px -1372px; width: 48px; height: 48px; } 
.flag-gl{ background-position: -392px -1470px; width: 48px; height: 48px; } 
.flag-gm{ background-position: -392px -1568px; width: 48px; height: 48px; } 
.flag-gn{ background-position: -392px -1666px; width: 48px; height: 48px; } 
.flag-gp{ background-position: -392px -1764px; width: 48px; height: 48px; } 
.flag-gq{ background-position: -392px -1862px; width: 48px; height: 48px; } 
.flag-gr{ background-position: -490px 0; width: 48px; height: 48px; } 
.flag-gt{ background-position: -490px -98px; width: 48px; height: 48px; } 
.flag-gu{ background-position: -490px -196px; width: 48px; height: 48px; } 
.flag-gw{ background-position: -490px -294px; width: 48px; height: 48px; } 
.flag-gy{ background-position: -490px -392px; width: 48px; height: 48px; } 
.flag-hk{ background-position: -490px -490px; width: 48px; height: 48px; } 
.flag-hn{ background-position: -490px -588px; width: 48px; height: 48px; } 
.flag-hr{ background-position: -490px -686px; width: 48px; height: 48px; } 
.flag-ht{ background-position: -490px -784px; width: 48px; height: 48px; } 
.flag-hu{ background-position: -490px -882px; width: 48px; height: 48px; } 
.flag-id{ background-position: -490px -980px; width: 48px; height: 48px; } 
.flag-ie{ background-position: -490px -1078px; width: 48px; height: 48px; } 
.flag-il{ background-position: -490px -1176px; width: 48px; height: 48px; } 
.flag-im{ background-position: -490px -1274px; width: 48px; height: 48px; } 
.flag-in{ background-position: -490px -1372px; width: 48px; height: 48px; } 
.flag-iq{ background-position: -490px -1470px; width: 48px; height: 48px; } 
.flag-ir{ background-position: -490px -1568px; width: 48px; height: 48px; } 
.flag-is{ background-position: -490px -1666px; width: 48px; height: 48px; } 
.flag-it{ background-position: -490px -1764px; width: 48px; height: 48px; } 
.flag-je{ background-position: -490px -1862px; width: 48px; height: 48px; } 
.flag-jm{ background-position: -588px 0; width: 48px; height: 48px; } 
.flag-jo{ background-position: -588px -98px; width: 48px; height: 48px; } 
.flag-jp{ background-position: -588px -196px; width: 48px; height: 48px; } 
.flag-ke{ background-position: -588px -294px; width: 48px; height: 48px; } 
.flag-kg{ background-position: -588px -392px; width: 48px; height: 48px; } 
.flag-kh{ background-position: -588px -490px; width: 48px; height: 48px; } 
.flag-ki{ background-position: -588px -588px; width: 48px; height: 48px; } 
.flag-km{ background-position: -588px -686px; width: 48px; height: 48px; } 
.flag-kn{ background-position: -588px -784px; width: 48px; height: 48px; } 
.flag-kp{ background-position: -588px -882px; width: 48px; height: 48px; } 
.flag-kr{ background-position: -588px -980px; width: 48px; height: 48px; } 
.flag-kw{ background-position: -588px -1078px; width: 48px; height: 48px; } 
.flag-ky{ background-position: -588px -1176px; width: 48px; height: 48px; } 
.flag-kz{ background-position: -588px -1274px; width: 48px; height: 48px; } 
.flag-la{ background-position: -588px -1372px; width: 48px; height: 48px; } 
.flag-lb{ background-position: -588px -1470px; width: 48px; height: 48px; } 
.flag-lc{ background-position: -588px -1568px; width: 48px; height: 48px; } 
.flag-li{ background-position: -588px -1666px; width: 48px; height: 48px; } 
.flag-lk{ background-position: -588px -1764px; width: 48px; height: 48px; } 
.flag-lr{ background-position: -588px -1862px; width: 48px; height: 48px; } 
.flag-ls{ background-position: -686px 0; width: 48px; height: 48px; } 
.flag-lt{ background-position: -686px -98px; width: 48px; height: 48px; } 
.flag-lu{ background-position: -686px -196px; width: 48px; height: 48px; } 
.flag-lv{ background-position: -686px -294px; width: 48px; height: 48px; } 
.flag-ly{ background-position: -686px -392px; width: 48px; height: 48px; } 
.flag-ma{ background-position: -686px -490px; width: 48px; height: 48px; } 
.flag-mc{ background-position: -686px -588px; width: 48px; height: 48px; } 
.flag-md{ background-position: -686px -686px; width: 48px; height: 48px; } 
.flag-me{ background-position: -686px -784px; width: 48px; height: 48px; } 
.flag-mg{ background-position: -686px -882px; width: 48px; height: 48px; } 
.flag-mh{ background-position: -686px -980px; width: 48px; height: 48px; } 
.flag-mk{ background-position: -686px -1078px; width: 48px; height: 48px; } 
.flag-ml{ background-position: -686px -1176px; width: 48px; height: 48px; } 
.flag-mm{ background-position: -686px -1274px; width: 48px; height: 48px; } 
.flag-mn{ background-position: -686px -1372px; width: 48px; height: 48px; } 
.flag-mo{ background-position: -686px -1470px; width: 48px; height: 48px; } 
.flag-mq{ background-position: -686px -1568px; width: 48px; height: 48px; } 
.flag-mr{ background-position: -686px -1666px; width: 48px; height: 48px; } 
.flag-ms{ background-position: -686px -1764px; width: 48px; height: 48px; } 
.flag-mt{ background-position: -686px -1862px; width: 48px; height: 48px; } 
.flag-mu{ background-position: -784px 0; width: 48px; height: 48px; } 
.flag-mv{ background-position: -784px -98px; width: 48px; height: 48px; } 
.flag-mw{ background-position: -784px -196px; width: 48px; height: 48px; } 
.flag-mx{ background-position: -784px -294px; width: 48px; height: 48px; } 
.flag-my{ background-position: -784px -392px; width: 48px; height: 48px; } 
.flag-mz{ background-position: -784px -490px; width: 48px; height: 48px; } 
.flag-na{ background-position: -784px -588px; width: 48px; height: 48px; } 
.flag-nc{ background-position: -784px -686px; width: 48px; height: 48px; } 
.flag-ne{ background-position: -784px -784px; width: 48px; height: 48px; } 
.flag-ng{ background-position: -784px -882px; width: 48px; height: 48px; } 
.flag-ni{ background-position: -784px -980px; width: 48px; height: 48px; } 
.flag-nl{ background-position: -784px -1078px; width: 48px; height: 48px; } 
.flag-no{ background-position: -784px -1176px; width: 48px; height: 48px; } 
.flag-noflag{ background-position: -784px -1274px; width: 48px; height: 48px; } 
.flag-np{ background-position: -784px -1372px; width: 48px; height: 48px; } 
.flag-nr{ background-position: -784px -1470px; width: 48px; height: 48px; } 
.flag-nz{ background-position: -784px -1568px; width: 48px; height: 48px; } 
.flag-om{ background-position: -784px -1666px; width: 48px; height: 48px; } 
.flag-pa{ background-position: -784px -1764px; width: 48px; height: 48px; } 
.flag-pe{ background-position: -784px -1862px; width: 48px; height: 48px; } 
.flag-pf{ background-position: -882px 0; width: 48px; height: 48px; } 
.flag-pg{ background-position: -882px -98px; width: 48px; height: 48px; } 
.flag-ph{ background-position: -882px -196px; width: 48px; height: 48px; } 
.flag-pk{ background-position: -882px -294px; width: 48px; height: 48px; } 
.flag-pl{ background-position: -882px -392px; width: 48px; height: 48px; } 
.flag-pr{ background-position: -882px -490px; width: 48px; height: 48px; } 
.flag-ps{ background-position: -882px -588px; width: 48px; height: 48px; } 
.flag-pt{ background-position: -882px -686px; width: 48px; height: 48px; } 
.flag-pw{ background-position: -882px -784px; width: 48px; height: 48px; } 
.flag-py{ background-position: -882px -882px; width: 48px; height: 48px; } 
.flag-qa{ background-position: -882px -980px; width: 48px; height: 48px; } 
.flag-re{ background-position: -882px -1078px; width: 48px; height: 48px; } 
.flag-ro{ background-position: -882px -1176px; width: 48px; height: 48px; } 
.flag-rs{ background-position: -882px -1274px; width: 48px; height: 48px; } 
.flag-ru{ background-position: -882px -1372px; width: 48px; height: 48px; } 
.flag-rw{ background-position: -882px -1470px; width: 48px; height: 48px; } 
.flag-sa{ background-position: -882px -1568px; width: 48px; height: 48px; } 
.flag-sb{ background-position: -882px -1666px; width: 48px; height: 48px; } 
.flag-sc{ background-position: -882px -1764px; width: 48px; height: 48px; } 
.flag-sd{ background-position: -882px -1862px; width: 48px; height: 48px; } 
.flag-se{ background-position: -980px 0; width: 48px; height: 48px; } 
.flag-sg{ background-position: -980px -98px; width: 48px; height: 48px; } 
.flag-si{ background-position: -980px -196px; width: 48px; height: 48px; } 
.flag-sk{ background-position: -980px -294px; width: 48px; height: 48px; } 
.flag-sl{ background-position: -980px -392px; width: 48px; height: 48px; } 
.flag-sm{ background-position: -980px -490px; width: 48px; height: 48px; } 
.flag-sn{ background-position: -980px -588px; width: 48px; height: 48px; } 
.flag-so{ background-position: -980px -686px; width: 48px; height: 48px; } 
.flag-sr{ background-position: -980px -784px; width: 48px; height: 48px; } 
.flag-st{ background-position: -980px -882px; width: 48px; height: 48px; } 
.flag-sv{ background-position: -980px -980px; width: 48px; height: 48px; } 
.flag-sy{ background-position: -980px -1078px; width: 48px; height: 48px; } 
.flag-sz{ background-position: -980px -1176px; width: 48px; height: 48px; } 
.flag-tc{ background-position: -980px -1274px; width: 48px; height: 48px; } 
.flag-td{ background-position: -980px -1372px; width: 48px; height: 48px; } 
.flag-tg{ background-position: -980px -1470px; width: 48px; height: 48px; } 
.flag-th{ background-position: -980px -1568px; width: 48px; height: 48px; } 
.flag-tj{ background-position: -980px -1666px; width: 48px; height: 48px; } 
.flag-tl{ background-position: -980px -1764px; width: 48px; height: 48px; } 
.flag-tm{ background-position: -980px -1862px; width: 48px; height: 48px; } 
.flag-tn{ background-position: -1078px 0; width: 48px; height: 48px; } 
.flag-to{ background-position: -1078px -98px; width: 48px; height: 48px; } 
.flag-tr{ background-position: -1078px -196px; width: 48px; height: 48px; } 
.flag-tt{ background-position: -1078px -294px; width: 48px; height: 48px; } 
.flag-tv{ background-position: -1078px -392px; width: 48px; height: 48px; } 
.flag-tw{ background-position: -1078px -490px; width: 48px; height: 48px; } 
.flag-tz{ background-position: -1078px -588px; width: 48px; height: 48px; } 
.flag-ua{ background-position: -1078px -686px; width: 48px; height: 48px; } 
.flag-ug{ background-position: -1078px -784px; width: 48px; height: 48px; } 
.flag-us{ background-position: -1078px -882px; width: 48px; height: 48px; } 
.flag-uy{ background-position: -1078px -980px; width: 48px; height: 48px; } 
.flag-uz{ background-position: -1078px -1078px; width: 48px; height: 48px; } 
.flag-va{ background-position: -1078px -1176px; width: 48px; height: 48px; } 
.flag-vc{ background-position: -1078px -1274px; width: 48px; height: 48px; } 
.flag-ve{ background-position: -1078px -1372px; width: 48px; height: 48px; } 
.flag-vg{ background-position: -1078px -1470px; width: 48px; height: 48px; } 
.flag-vi{ background-position: -1078px -1568px; width: 48px; height: 48px; } 
.flag-vn{ background-position: -1078px -1666px; width: 48px; height: 48px; } 
.flag-vu{ background-position: -1078px -1764px; width: 48px; height: 48px; } 
.flag-ws{ background-position: -1078px -1862px; width: 48px; height: 48px; } 
.flag-ye{ background-position: -1176px 0; width: 48px; height: 48px; } 
.flag-za{ background-position: -1176px -98px; width: 48px; height: 48px; } 
.flag-zm{ background-position: -1176px -196px; width: 48px; height: 48px; } 
.flag-zw{ background-position: -1176px -294px; width: 48px; height: 48px; } 

.flag-ap{ background: url(../img/aripo.png) 0 0 no-repeat ; width: 48px; height: 48px; }
.flag-ea{ background: url(../img/eurasia.png) 0 0 no-repeat ; width: 48px; height: 48px; }
.flag-gc{ background: url(../img/gcc.png) 0 0 no-repeat ; width: 48px; height: 48px; }